<!DOCTYPE html> 
<html ng-app="customersApp"> 
<head> 
<meta charset="utf-8"> 
<title>CustomersForm</title> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
<script>
(function(angular) {
'use strict';
var customersApp= angular.module('customersApp', []);
customersApp.controller('CustomerCtrl', function ($scope, $http){
$scope.customerForm = { };
$scope.submitCustomer = function() {
var method = "";
var url = "";
method = "POST";
url = "InsertCustomer.php";
$http({
method : method,
url : url,
data : angular.toJson($scope.customerForm),
headers : {
'Content-Type' : 'application/json'
}
}).then( _success, _error );
};
function _success(response) {
_clearFormData()
   }
function _error(response) {
console.log(response.statusText);
alert(response.statusText);
}
function _clearFormData() {
$scope.customerForm.Name = "";
$scope.customerForm.City = "";
$scope.customerForm.State = "";
$scope.customerForm.ZipCode = "";
$scope.customerForm.ContactNo = "";
$scope.customerForm.StreetAddress = "";
$scope.customerForm.Country = "";
}
});
})(window.angular);
</script>
</head>
<body>
<div ng-app="customersApp" ng-controller="CustomerCtrl">
<form ng-submit="submitCustomer()">
<div>
<label>Name:<sup>*</sup></label>
<input type="text" ng-model="customerForm.Name" />
</div>
<div>
<label>City:<sup>*</sup></label>
<input type="text" ng-model="customerForm.City" />
</div>
<div>
<label>State:<sup>*</sup></label>
<input type="text" ng-model="customerForm.State" />
</div>
<div>
<label>ZipCode:<sup>*</sup></label>
<input type="text" ng-model="customerForm.ZipCode" />
</div>
<div>
<label>ContactNo:<sup>*</sup></label>
<input type="text" ng-model="customerForm.ContactNo" />
</div>
<div>
<label>StreetAddress:<sup>*</sup></label>
<input type="text" ng-model="customerForm.StreetAddress" />
</div>
<div>
<label>Country:<sup>*</sup></label>
<input type="text" ng-model="customerForm.Country" />
</div>
<input type="submit" value="Submit" class="blue-button" />
</form>
</div>
</body>
</html>
